FrbaHotel/FrbaHotel.suo
FrbaHotel/FrbaHotel/obj/Release/FrbaHotel.exe
*.Cache
*.exe
*.pdb
*.exe
FrbaHotel/FrbaHotel/bin/Debug/FrbaHotel.vshost.exe.manifest
FrbaHotel/FrbaHotel/obj/Release/FrbaHotel.exe
FrbaHotel/FrbaHotel/obj/Release/FrbaHotel.csproj.GenerateResource.Cache
*.suo